.card {
  background-color: #ffffff;
  border-radius: 12px;
  /* Qualquer conteúdo que ultrapasse os limites do elemento será ocultado */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  /* O transform que ocorre com o hover transiciona de maneira mais suave (leva uma pouco de tempo para acontecer por completo */
  transition: transform 0.3s;
}

.card__link__container {
  display: flex;
  flex-direction: row;
}
.card:hover {
  /* Ao colocar o ponteiro do mouse em cima, ocorre uma transformação de escala (aumenta levemente de tamanho */
  transform: scale(1.02);
}

.card__poster {
  width: auto;
  max-height: 95px;
}

.card__info {
  padding: 1rem;
}

.card__title {
  font-size: 1.1rem;
  color: #0f172a;
  margin: 0 0 0.5rem 0;
}

.card__description {
  font-size: 0.9rem;
  color: #475569;
}
