.header {
  background-color: #4c6388;
  padding: 1rem 2rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3rem;
}

.header__logo {
  max-width: 20rem;
  height: 10rem;
}

.header__nav a {
  color: #f8fafc;
  text-decoration: none;
  margin-left: 1rem;
}

.header__nav a:hover {
  color: #38bdf8;
}

@media (max-width: 600px) {
}
