#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

