.firenze__container {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ea;
}

.firenze__text {
  padding: 0 2rem 2rem 2rem;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.firenze__img {
  padding: 0 2rem 2rem 2rem;
}

@media (min-width: 1024px) {
  .firenze__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .firenze__text {
    padding: 2rem;
    text-align: justify;
  }

  .firenze__img {
    max-height: 90%;
    max-width: 70%;
    padding-bottom: 0;
    margin: auto;
  }
}
